<footer>
  <!-- Footer content -->
  <div class="footer-content">
    <div class="social-media">
      <!-- Social media links with thumbnails and buttons -->
      <a href="https://www.instagram.com/alenka_arty/" 
        class="social-icon" title="Instagram">
        <img src="{{ url_for('static',
         filename='images/social/instagram.png') }}"
         alt="Instagram">
      </a>
      <a href="tel:+375259160277" class="social-icon" title="Call">
        <img src="{{ url_for('static',
         filename='images/social/call.png') }}"
         alt="Call">
      </a>
      <a href="mailto:borovaya.nastya@mail.ru" 
        class="social-icon" title="Mail">
        <img src="{{ url_for('static',
         filename='images/social/mail.png') }}"
         alt="Call">
      </a>
    </div>
    <p class="copyright">&copy; Baravaja Fabric Crafts 2023</p>
    <!-- Add other footer content here if needed -->
  </div>
</footer>
<footer>
