<!-- templates/index.html -->
{% extends 'base.html' %}
{% block title %}
Home - Baravaja Fabric Crafts
{% endblock %}
{% block content %}
 <div class="slideshow">
  {% for i in range(1, 5) %}
   <div class="slide {% if i == 1 %}active{% endif %}" 
    id="slide{{ i }}">
    <img 
     src="{{ url_for('get_slide', filename='slide' + i|string + '.jpeg') }}"
     alt="Slide {{ i }}">
    <div class="slide-description">
     <p>Description for Slide{{ i }}</p>
    </div>
   </div>
  {% endfor %}
  <!-- Navigation circles -->
  <div class="nav-circles">
   {% for i in range(1, 5) %}
    <span class="circle" data-slide="{{ i }}"></span>
   {% endfor %}
  </div>
 </div>
<script src="{{ url_for('get_script', filename='index.js') }}"></script>
{% endblock %}
