<!-- templates/login.html -->
{% extends 'base.html' %}
{% block title %}
Login - Baravaja Fabric Crafts
{% endblock %}
{% block content %}
 <div class="login-container">
  <form action="{{ url_for('login') }}" method="post" 
    id="{{ form.id }}">
   
   {{ form.hidden_tag() }}  
   
   <!-- Email Field -->
   <label class="login-container">{{ form.username.label }}</label>
   {{ form.username(
      class="input-container", autocomplete="on", required=True) }}

   <!-- Password Field -->
   <label class="login-container">{{ form.password.label }}</label>
   {{ form.password(
      class="input-container", autocomplete="on", required=True) }}

   <div id="login-message" style="display: none;">
     Login failed. Please try again.
   </div> 

   <!-- Log In Button -->
   {{ form.submit(class="login-button") }}
  </form>

  <!-- Forgot Password -->
  <p><a href="{{ url_for('restore') }}">Forgot a password?</a></p>

  <!-- Register -->
  <p>Don't have an account? 
   <a href="{{ url_for('register') }}">Register</a>
  </p>
 </div>
<script src="{{ url_for('get_script', filename='login.js') }}"></script>
{% endblock %}
