<!-- templates/new_password.html -->
{% extends base.html %}
{% block title %}
New Password - Baravaja Fabric Crafts
{% endblock %}
{% block content %}
 <div class="new-password-container">
  <h2>Create New Password</h2>
  <form action="{{ url_for('new_password', token=token) }}" method="post">
   <!-- New Password Field -->
   <label for="new-password">New Password:</label>
   <input type="password" id="new-password" name="new-password" required>

   <!-- Repeat New Password Field -->
   <label for="repeat-new-password">Repeat New Password:</label>
   <input type="password" id="repeat-new-password" 
    name="repeat-new-password" required>

   <!-- Passwords Do Not Match Error -->
   {% if password_error %}
    <p class="error">Passwords do not match.</p>
   {% endif %}

   <!-- Submit Button -->
   <button type="submit">Submit</button>
  </form>
 </div>
{% endblock %}
