{% extends 'base.html' %}
{% block title %}
Register - Baravaja Fabric Crafts
{% endblock %}
{% block content %}
 <div class="login-container">
  <form action="{{ url_for('register') }}" method="post"
    id="{{ form.id }}">
  
   {{ form.hidden_tag() }}

   <!-- Email Field -->
   <label class="login-container">{{ form.username.label }}</label>
   {{ form.username(
      class="input-container", autocomplete="on", required=True) }}

   <!-- Password Field -->
   <label class="login-container">{{ form.password.label }}</label>
   {{ form.password(
      class="input-container", autocomplete="on", required=True) }}

   <!-- Repeat Password Field -->
   <label class="login-container">{{ form.repeat_password.label }}</label>
   {{ form.repeat_password(
      class="input-container", required=True) }}

   <div id="wrong-password-message" style="display: none; color: red;">
     Passwords don't match. Please try again.
   </div> 

   <div id="wrong-email-message" style="display: none; color: red;">
     Email is already in use.
   </div> 
   
   <!-- Log In Button -->
   {{ form.submit(class="login-button") }}
  </form>

  <!-- Link to Login Page -->
  <p>
   Already have an account? 
   <a href="{{ url_for('login') }}">Login</a>
  </p>
 </div>
<script src="{{ url_for('get_script', filename='register.js') }}"></script>
{% endblock %}
