<!-- templates/shop.html -->
{% extends 'base.html' %}
{% block title %}
Shop - Baravaja Fabric Crafts
{% endblock %}
{% block content %}
 <div class="shop-container">

  <!-- Cards per Page and Filters -->
  <div class="options">
   <label for="cards-per-page">Cards per Page:</label>
   <select id="cards-per-page">
    <option value="12">12</option>
    <option value="24">24</option>
    <option value="36">36</option>
   </select>

   <!-- Add filters for Goods database here -->

   <!-- Add other filters as needed -->
  </div>

  <!-- Page Number Switchers -->
  <div class="page-switchers">
   <!-- Display page numbers dynamically based on the number of pages -->
   <span class="active">1</span>
   <!-- Add more page numbers as needed -->
  </div>

  <!-- Product Cards -->
  <div class="product-cards">
   {% for card in products %}
   <div class="card">
    <img 
     src="{{ url_for('static', filename=card.photos[0]) }}" 
     alt="{{ card.name }}">
    <h3>{{ card.name }}</h3>
    <!-- price in pln, rub and eur -->
    <p>Price: {{ card.price }} </p>
    <button>Add to Cart</button>
   </div>
   {% endfor %}
  </div>

  <!-- Page Number Switchers -->
  <div class="page-switchers">
   <!-- Display page numbers dynamically based on the number of pages -->
   <span class="active">1</span>
   <!-- Add more page numbers as needed -->
  </div>
 </div>
{% endblock %}
